
html {
  position: relative;
  height: 100%;
}

body {
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  color: #747704;
  background: #FFFFFF;
  margin-bottom: 60px;
  padding-top: 70px;
}

#splash_image {
   width: 400px;
   height: 180px;
   position: absolute;
   left: 50%;
   top: 50%;
   margin-left: -150px;
   margin-top: -150px;
}
}

p {
  line-height: 24px;
  }

a {
  text-decoration: none;
  color: #000000;
  }

a:hover {
  text-decoration: none;
  color: #000000;
  opacity: 0.5;
   }

.footer {
  margin-top: 40px;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #FFFFFF;
  color: #000000;
}

.footer li {
  text-align: center;
  display: inline;
  padding: 20px;
}

.footer img {
  height: 25px;
  opacity: .75;
}

.footer img:hover {
  opacity: 0.3;
}

#my_details {
  margin-top: 20px;
}

.navbar {
  border: none;
  background: #fff;
  min-height: 90px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  padding-left: 7%;
  padding-right: 7%;
  max-height: 50px;
  font-size: 12px;
  color: #000000;
}

.navbar .nav > li > a {
  line-height: 50px;
  color: #000000;
  opacity: .75;
}

.navbar .nav > li > a:hover {
  opacity: 0.3;
}

.navbar-brand {
  height: 75px;
  padding-top: 0;
}

.navbar-brand:hover {
  opacity: 0.5;
}

#button_group {
  font-size: 12px;
  opacity: .75;
}

.btn:hover {
  opacity: 0.3;
}

.thumbnail {
  padding: 0px !important;
  max-height: 145px;
  position:relative;
  overflow:hidden;
  border: none;
}

img {
  border: none;
}

/*Prevent Lazyload placeholders showing at same time as images*/

.lazy {
    display: none;
}

/*Query to change background color of collapsed menu*/

@media (max-width: 768px) and (max-width: 1000px) {
   .collapse {
       background: #95B3FB !important;
   }
}

.btn-group {
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

.btn {
  border: none;
}



/*filtering style attributes*/

.filtr-container {
  position: relative;
}

.filtr-item {
    padding: 1rem;
}

.item-desc {
    background-color: rgba(0,0,0,0.5);
    color: white;
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    z-index: 1;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
}



/* Filter controls -- with thanks to Filterizr JQuery library at yiotis.net/filterizr*/

.simplefilter li, .multifilter li, .sortandshuffle li {
    color: white;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    padding: 1rem 2rem;
}
.simplefilter li {
    background-color: #585858;
}
.simplefilter li.active {
    background-color: #212121;
}
.multifilter li {
    background-color: #4b9eff;
}
.multifilter li.active {
    background-color: #2265b4;
}


/*Overlay effects*/

.caption {
    position: absolute;
    top:0;
    right:0;
    background: #666666;
    font-size: 10px;
    line-height: 2px;
    opacity: 0.9;
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color:#fff !important;
    z-index:2;
}

.caption p {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  line-height: 2px;
}

.caption h4 {
  font-size: 12px;
  padding-bottom: 5px;
}


#bio {
  margin-top: 80px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #000000;
  line-height: 2px;
  opacity: .75;
}


@media (max-width: 520px) {
   .caption p {
       display: none;
   }
}

@media only screen and (max-width: 415px) {
  #splash_image {
    margin-left: -200px;
  }
}

/* For about page:*/


