<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>David Franklin Film and Music Director and Editor</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/styles.css">
  <script type="text/javascript" src="../js/jquery-1.12.3.min.js"></script>
  <script type="text/javascript" src="../js/jquery.filterizr.js"></script>
  <script type="text/javascript" src="../js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../app.js"></script>

</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="splash.html">
        <img alt="Brand" class="img-responsive" src="../public/logo6.png">
      </a>
    </div> <!-- end header div -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="projects.html"><h4>Projects</h4></a></li>
        <li class="active"><a href="about.html"><h4>About</h4></a></li>
      </ul>
    </div> <!-- end navbar-collapse -->
    </div> <!-- end container -->
  </nav>

<div class="container">

<div class="row" id="bio">
  <div class="col-md-4">
    <img class="img-responsive" id="twitter_pic" src="../public/twitter_logo.jpg">
  </div>
    <div class="col-md-8">
      <h2>Artisanal Television is the online home of director David Franklin.
</h2>
      <p>Clients include The Brooklyn Botanic Garden, Scholastic, McMillan, and Johns Hopkins University. David received a News and Documentary Emmy Award in 2015 for producing and editing "Perilous Journey," an episode of "48 Hours," which aired nationally on CBS. In all David edited over 40 episodes of "48 Hours." Other editing credits include the feature film "The Condemned" (2013), "Britney and Kevin: Chaotic" (2005), and CBS Sunday Morning. David is also an experienced director of Music Videos, and his work has appeared on NBC, VH1, Pitchfork.com, Stereogum.com, MTVu.com, Consequence of Sound, and Guardian.co.uk. As a freelance editor and motion graphics artist, David has done work for Microsoft, Fred Hutch, BGC3, Rock Island Communications, and YPO.org.</p>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="row">
    <div class="col-md-1 col-md-offset-4">
        <li><a href="https://twitter.com/artisanaltv"><img src="../public/twitter35.jpg"></a></li>
    </div>
    <div class="col-md-1">
        <li><a href="http://www.imdb.com/name/nm1223853/?ref_=fn_al_nm_2"><img src="../public/imdb35.jpg"></a></li>
    </div>
    <div class="col-md-1">
        <li><a href='https://vimeo.com/user6023393'><img src="../public/vimeo35.jpg"></a></li>
    </div>
    <div class="col-md-1">
        <li><a href='https://www.youtube.com/channel/UC6tBbB62R1_UcDIHNEIjUtw'><img src="../public/youtube35.jpg"></a></li>
    </div>
    <div class="col-md-1">
        <li><a href="mailto:davidATartisanaltelevisionDOTcom"
   onclick = "this.href=this.href
              .replace(/AT/,'&#64;')
              .replace(/DOT/,'&#46;')"><img src="../public/email35.jpg"></a></li>
    </div><!--  End columns -->
  </div><!--  End row -->
</footer>

</body>
</html>
