<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>David Franklin Film and Music Director and Editor</title>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/styles.css">
  <script type="text/javascript" src="../js/jquery-1.12.3.min.js"></script>
  <!--   Thanks to Lazy Load at appelsiini.net/projects/lazyload -->
  <script type="text/javascript" src="../js/jquery.lazyload.js"></script>
  <script type="text/javascript" src="../js/jquery.filterizr.js"></script>
  <script type="text/javascript" src="../js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../app.js"></script>

</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="splash.html">
        <img alt="Brand" class="img-responsive" src="../public/logo6.png">
      </a>
    </div> <!-- end header div -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="projects.html"><h4>Projects</h4></a></li>
        <li><a href="about.html"><h4>About</h4></a></li>
      </ul>
    </div> <!-- end navbar-collapse -->
    </div> <!-- end container -->
  </nav>

<div class="container" id="button_group">
  <div class="text-center">
    <div class="btn-group " role="group" aria-label="...">
      <button type="button" class="btn btn-default" data-filter="all"><h4>All Projects</h4></button>
      <button type="button" class="btn btn-default" data-filter="1"><h4>Reels</h4></button>
      <button type="button" class="btn btn-default" data-filter="5"><h4>Film</button>
      <button type="button" class="btn btn-default" data-filter="2"><h4>Music</h4></button>
      <button type="button" class="btn btn-default" data-filter="3"><h4>Commercial Production</h4></button>
      <button type="button" class="btn btn-default" data-filter="4"><h4>Work for Hire</h4></button>
    </div>
  </div>
</div> <!-- End of container div -->

<div class="container">
<div class="row">

<!-- Filter controls, with thanks to Filterizr JQuery library at yiotis.net/filterizr-->
<!-- Container for filterizr transitions -->

<div class="filtr-container">

  <!-- Reel videos -->

  <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="1">
    <div class="thumbnail">
      <div class="caption">
        <h4>David Franklin</h4>
        <p>Director's Reel</p>
        <a href="#" data-toggle="modal" data-target="#videoModal1" class="btn btn-danger" rel="tooltip" data-theVideo="https://player.vimeo.com/video/30290109?title=0&byline=0&portrait=0">View</a>
        </div>
      <img class="lazy img-responsive" data-original="../public/gallery/directors_reel.png" width="100%" height="150">
  </div>
</div>

  <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="1">
      <div class="thumbnail">
        <div class="caption">
          <h4>David Franklin</h4>
        <p>Producer and Editor's Reel</p>
        <a href="#" data-toggle="modal" data-target="#videoModal2" class="btn btn-danger" rel="tooltip" data-theVideo="https://player.vimeo.com/video/107299737?title=0&byline=0&portrait=0">View</a>
        </div>
        <img class="lazy img-responsive" data-original="../public/gallery/producer_editor.png" width="100%" height="150">
      </div>
    </div>

<div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="1">
      <div class="thumbnail">
        <div class="caption">
          <h4>David Franklin</h4>
        <p>Graphics Reel</p>
        <a href="#" data-toggle="modal" data-target="#videoModal3" class="btn btn-danger" rel="tooltip" data-theVideo="https://player.vimeo.com/video/104203316?title=0&byline=0&portrait=0" width="100%">View</a>
        </div>
        <img class="lazy img-responsive" data-original="../public/gallery/graphics_reel.png" width="100%" height="150">
      </div>
    </div>

<!-- Start of music videos -->

<div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="2">
      <div class="thumbnail">
        <div class="caption">
          <h4>Alyson Greenfield</h4>
        <p>Uncharted Places</p>
        <a href="#" data-toggle="modal" data-target="#videoModal4" class="btn btn-danger" rel="tooltip" data-theVideo="https://www.youtube.com/embed/FiQ-oREsS8c?rel=0?VQ=HD720">View</a>
        </div>
        <img class="lazy img-responsive" data-original="../public/gallery/unchartered.png" width="100%" height="150">
      </div>
    </div>

<div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="2">
      <div class="thumbnail">
        <div class="caption">
          <h4>Lemonade</h4>
        <p>Softkiss</p>
        <a href="#" data-toggle="modal" data-target="#videoModal5" class="btn btn-danger" rel="tooltip" data-theVideo="https://www.youtube.com/embed/n4-ZsUM8bWk?rel=0?VQ=HD720">View</a>
        </div>
        <img class="lazy img-responsive" data-original="../public/gallery/softkiss.png" width="100%" height="150">
      </div>
    </div>

<div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="2">
      <div class="thumbnail">
        <div class="caption">
          <h4>Luscious Jackson</h4>
        <p>#1 Bum</p>
        <a href="#" data-toggle="modal" data-target="#videoModal6" class="btn btn-danger" rel="tooltip" data-theVideo="https://www.youtube.com/embed/Qd669AlC-cU?rel=0?VQ=HD720">View</a>
        </div>
        <img class="lazy img-responsive" data-original="../public/gallery/bum.png" width="100%" height="150">
      </div>
    </div>

<div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="2">
      <div class="thumbnail">
        <div class="caption">
          <h4>Black Taxi</h4>
        <p>Hand</p>
        <a href="#" data-toggle="modal" data-target="#videoModal7" class="btn btn-danger" rel="tooltip" data-theVideo="https://www.youtube.com/embed/4EKO55kpSIM?rel=0?VQ=HD720">View</a>
        </div>
        <img class="lazy img-responsive" data-original="../public/gallery/hand.png" width="100%" height="150">
      </div>
    </div>

<div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="2">
      <div class="thumbnail">
        <div class="caption">
          <h4>Black Taxi</h4>
        <p>House on Fire</p>
        <a href="#" data-toggle="modal" data-target="#videoModal8" class="btn btn-danger" rel="tooltip" data-theVideo="https://www.youtube.com/embed/gXXK-iSEzFc?rel=0?VQ=HD720">View</a>
        </div>
        <img class="lazy img-responsive" data-original="../public/gallery/house_on_fire.png" width="100%" height="150">
      </div>
    </div>

<div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="2">
      <div class="thumbnail">
        <div class="caption">
          <h4>Chainwave</h4>
        <p>Just Break</p>
        <a href="#" data-toggle="modal" data-target="#videoModal9" class="btn btn-danger" rel="tooltip" data-theVideo="https://player.vimeo.com/video/26408117?title=0&byline=0&portrait=0">View</a>
        </div>
        <img class="lazy img-responsive" data-original="../public/gallery/just_break.png" width="100%" height="150">
      </div>
    </div>

<div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="2">
      <div class="thumbnail">
        <div class="caption">
          <h4>Mighty High</h4>
        <p>Buy The Pound</p>
        <a href="#" data-toggle="modal" data-target="#videoModal10" class="btn btn-danger" rel="tooltip" data-theVideo="https://www.youtube.com/embed/FP3MT5ejP_o?rel=0?VQ=HD720" >View</a>
        </div>
        <img class="lazy img-responsive" data-original="../public/gallery/mighty_high.png" width="100%" height="150">
      </div>
    </div>


<div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="2">
      <div class="thumbnail">
        <div class="caption">
          <h4>Big Game</h4>
        <p>Big Game</p>
        <a href="#" data-toggle="modal" data-target="#videoModal11" class="btn btn-danger" rel="tooltip" data-theVideo="https://www.youtube.com/embed/VDa1Uc7WtVI?rel=0?VQ=HD720">View</a>
        </div>
        <img class="lazy img-responsive" data-original="../public/gallery/big_game.png" width="100%" height="150">
      </div>
    </div>

<div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="2">
      <div class="thumbnail">
        <div class="caption">
          <h5>Pet Ghost Project</h5>
        <p>City in my Country Mind</p>
        <a href="#" data-toggle="modal" data-target="#videoModal12" class="btn btn-danger" rel="tooltip" data-theVideo="https://www.youtube.com/embed/UdKMDzJGpcI?rel=0?VQ=HD720">View</a>
        </div>
        <img class="lazy img-responsive" data-original="../public/gallery/pet_ghost.png" width="100%" height="150">
      </div>
    </div>

<!-- Start commercial videos -->

<div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3">
      <div class="thumbnail">
        <div class="caption">
          <h5>Brooklyn Botanic Garden</h5>
        <p>A Day in The Garden</p>
        <a href="#" data-toggle="modal" data-target="#videoModal13" class="btn btn-danger" rel="tooltip" data-theVideo="https://player.vimeo.com/video/81651249?title=0&byline=0&portrait=0" width="100%">View</a>
        </div>
        <img class="lazy img-responsive" data-original="../public/gallery/botanic_garden.png" width="100%" height="150">
      </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3">
      <div class="thumbnail">
        <div class="caption">
          <h5>Brooklyn Botanic Garden</h5>
        <p>The Chlidren's Garden</p>
        <a href="#" data-toggle="modal" data-target="#videoModal14" class="btn btn-danger" rel="tooltip" data-theVideo="https://player.vimeo.com/video/90543169?title=0&byline=0&portrait=0" width="100%">View</a>
        </div>
        <img class="lazy img-responsive" data-original="../public/gallery/childrens_garden.png" width="100%" height="150">
      </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3">
      <div class="thumbnail">
        <div class="caption">
          <h4>Stephen Savage</h4>
        <p>Little Tug</p>
        <a href="#" data-toggle="modal" data-target="#videoModal15" class="btn btn-danger" rel="tooltip" data-theVideo="https://www.youtube.com/embed/F4mgqpMw7Xs?rel=0?VQ=HD720">View</a>
        </div>
        <img class="lazy img-responsive" data-original="../public/gallery/little_tug.png" width="100%" height="150">
      </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3">
      <div class="thumbnail">
        <div class="caption">
          <h4>Stephen Savage</h4>
        <p>Where's Walrus?</p>
        <a href="#" data-toggle="modal" data-target="#videoModal16" class="btn btn-danger" rel="tooltip" data-theVideo="https://www.youtube.com/embed/2dZSGen9cG0?rel=0?VQ=HD720">View</a>
        </div>
        <img class="lazy img-responsive" data-original="../public/gallery/wheres_walrus.png" width="100%" height="150">
      </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3">
      <div class="thumbnail">
        <div class="caption">
          <h4>Robert Sabuda</h4>
        <p>The White House</p>
        <a href="#" data-toggle="modal" data-target="#videoModal17" class="btn btn-danger" rel="tooltip" data-theVideo="https://www.youtube.com/embed/NFFdTmEoe58?rel=0?VQ=HD720">View</a>
        </div>
        <img class="lazy img-responsive" data-original="../public/gallery/white_house.png" width="100%" height="150">
      </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3">
      <div class="thumbnail">
        <div class="caption">
          <h4>Suzanne Collins </h4>
        <p>Year of the Jungle</p>
        <a href="#" data-toggle="modal" data-target="#videoModal18" class="btn btn-danger" rel="tooltip" data-theVideo="https://www.youtube.com/embed/h5Od3fP1oCc?rel=0?VQ=HD720">View</a>
        </div>
        <img class="lazy img-responsive" data-original="../public/gallery/year_of_jungle.png" width="100%" height="150">
      </div>
    </div>

      <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3">
      <div class="thumbnail">
        <div class="caption">
          <h4>Stephen Savage</h4>
        <p>Polar Bear Morning</p>
        <a href="#" data-toggle="modal" data-target="#videoModal19" class="btn btn-danger" rel="tooltip" data-theVideo="https://www.youtube.com/embed/uMZCXBiKrpU?rel=0?VQ=HD720">View</a>
        </div>
        <img class="lazy img-responsive" data-original="../public/gallery/polar_bear.png" width="100%" height="150">
      </div>
    </div>

       <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3">
      <div class="thumbnail">
        <div class="caption">
          <h4>Sharon Robinson</h4>
        <p>Under The Same Sun</p>
        <a href="#" data-toggle="modal" data-target="#videoModal20" class="btn btn-danger" rel="tooltip" data-theVideo="https://www.youtube.com/embed/DPj_lNoM8vI?rel=0?VQ=HD720">View</a>
        </div>
        <img class="lazy img-responsive" data-original="../public/gallery/under_sun.png" width="100%" height="150">
      </div>
    </div>

     <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3">
      <div class="thumbnail">
        <div class="caption">
          <h4>Harry Bliss Draws Bailey</h4>
        <a href="#" data-toggle="modal" data-target="#videoModal21" class="btn btn-danger" rel="tooltip" data-theVideo="https://www.youtube.com/embed/P38SHbltwxY?rel=0?VQ=HD720">View</a>
        </div>
        <img class="lazy img-responsive" data-original="../public/gallery/harrybliss.png" width="100%" height="150">
      </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3">
      <div class="thumbnail">
        <div class="caption">
          <h4>Lord and Anderson</h4>
          <p>Happy Birthday Hamster</p>
        <a href="#" data-toggle="modal" data-target="#videoModal22" class="btn btn-danger" rel="tooltip" data-theVideo="https://www.youtube.com/embed/vCntellLLgo?rel=0?VQ=HD720">View</a>
        </div>
        <img class="lazy img-responsive" data-original="../public/gallery/birthday_hamster.png" width="100%" height="150">
      </div>
    </div>

    <!-- End of Commercial Production videos -->

    <!-- Start of Work for Hire videos -->

    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="4">
          <div class="thumbnail">
            <div class="caption">
              <h4>Gatesnotes</h4>
              <p>Editing, Animation</p>
            <a href="#" data-toggle="modal" data-target="#videoModal23" class="btn btn-danger" rel="tooltip" data-theVideo="https://www.youtube.com/embed/bVzppWSIFU0?VQ=HD720">View</a>
            </div>
            <img class="lazy img-responsive" data-original="../public/gallery/gates_notes.png" width="100%" height="150">
          </div>
        </div>

           <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="4">
          <div class="thumbnail">
            <div class="caption">
              <h4>Microsoft - Salestography</h4>
              <p>Editing, Compositing</p>
            <a href="#" data-toggle="modal" data-target="#videoModal24" class="btn btn-danger" rel="tooltip" data-theVideo="https://www.youtube.com/embed/PPk37EwYGSw?VQ=HD720">View</a>
            </div>
            <img class="lazy img-responsive" data-original="../public/gallery/salestography.png" width="100%" height="150">
          </div>
        </div>

           <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="4">
          <div class="thumbnail">
            <div class="caption">
              <h4>Dear Cancer</h4>
              <p>Editing</p>
            <a href="#" data-toggle="modal" data-target="#videoModal25" class="btn btn-danger" rel="tooltip" data-theVideo="https://www.youtube.com/embed/B86LBapoS_8?VQ=HD720">View</a>
            </div>
            <img class="lazy img-responsive" data-original="../public/gallery/dear_cancer.png" width="100%" height="150">
          </div>
        </div>

          <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="4">
          <div class="thumbnail">
            <div class="caption">
              <h4>Microsoft - Data Privacy</h4>
              <p>Editing</p>
            <a href="#" data-toggle="modal" data-target="#videoModal26" class="btn btn-danger" rel="tooltip" data-theVideo="https://www.youtube.com/embed/hxNZRSuuTzg?VQ=HD720">View</a>
            </div>
            <img class="lazy img-responsive" data-original="../public/gallery/microsoft_privacy.png" width="100%" height="150">
          </div>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="4">
          <div class="thumbnail">
            <div class="caption">
              <h4>Rock Island</h4>
              <p>Motion Graphics</p>
            <a href="#" data-toggle="modal" data-target="#videoModal27" class="btn btn-danger" rel="tooltip" data-theVideo="https://www.youtube.com/embed/JNXxieXDmFQ?VQ=HD720">View</a>
            </div>
            <img class="lazy img-responsive" data-original="../public/gallery/rock_island.png" width="100%" height="150">
          </div>
        </div>

    <!-- End of Work for Hire videos -->

    <!-- Start of film trailers -->
     <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="5">
          <div class="thumbnail">
            <div class="caption">
              <h4>The Condemned (2012)</h4>
              <p>Editor</p>
            <a href="#" data-toggle="modal" data-target="#videoModal28" class="btn btn-danger" rel="tooltip" data-theVideo="https://www.youtube.com/embed/7ULZaG9O338?VQ=HD720">View</a>
            </div>
            <img class="lazy" data-original="../public/gallery/the_condemned.png" width="100%" height="150">
          </div>
        </div>

         <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="5">
          <div class="thumbnail">
            <div class="caption">
              <h4>48 Hours</h4>
              <p>Editor</p>
            <a href="#" data-toggle="modal" data-target="#videoModal29" class="btn btn-danger" rel="tooltip" data-theVideo="https://www.youtube.com/embed/uXG83ma3bCQ?VQ=HD720">View</a>
            </div>
            <img class="lazy" data-original="../public/gallery/perilous_journey.png" width="100%" height="150">
          </div>
        </div>

          <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="5">
          <div class="thumbnail">
            <div class="caption">
              <h4>As Far As The Eye Can See</h4>
              <p>Director</p>
            <a href="#" data-toggle="modal" data-target="#videoModal30" class="btn btn-danger" rel="tooltip" data-theVideo="https://player.vimeo.com/video/147205302?title=0&byline=0&portrait=0">View</a>
            </div>
            <img class="lazy" data-original="../public/gallery/as_far.png" width="100%" height="150">
          </div>
        </div>


    </div> <!-- end filterizr container -->
</div> <!-- end videos row -->

<!-- Footer -->

<footer class="footer">
  <div class="row">
    <div class="col-md-2 col-md-offset-1">
        <li><a href="https://twitter.com/artisanaltv"><img src="../public/twitter2.png"></a></li>
    </div>
    <div class="col-md-2">
        <li><a href="http://www.imdb.com/name/nm1223853/?ref_=fn_al_nm_2" id="imdb"><img src="../public/imdb2.png"></a></li>
    </div>
    <div class="col-md-2">
        <li><a href='https://vimeo.com/user6023393'><img src="../public/vimeo2.png"></a></li>
    </div>
    <div class="col-md-2">
        <li><a href='https://www.youtube.com/channel/UC6tBbB62R1_UcDIHNEIjUtw'><img src="../public/youtube2.png"></a></li>
    </div>
    <div class="col-md-2">
        <li><a href="mailto:davidATartisanaltelevisionDOTcom"
   onclick = "this.href=this.href
              .replace(/AT/,'&#64;')
              .replace(/DOT/,'&#46;')"><img src="../public/mail2.png"></a></li>
    </div><!--  End columns -->
  </div><!--  End row -->
</footer>

</div> <!-- end videos_main container -->


<!-- Modals -->

<div class="modal fade" id="videoModal1" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <iframe src="https://player.vimeo.com/video/30290109?title=0&byline=0&portrait=0" width="100%" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="videoModal2" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <iframe src="https://player.vimeo.com/video/107299737?title=0&byline=0&portrait=0" width="100%" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="videoModal3" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <iframe src="https://player.vimeo.com/video/104203316?title=0&byline=0&portrait=0" width="100%" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="videoModal4" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <iframe width="100%" height="350" src="https://www.youtube.com/embed/FiQ-oREsS8c?rel=0?VQ=HD720" frameborder="0" allowfullscreen></iframe>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<div class="modal fade" id="videoModal5" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <iframe width="100%" height="350" src="https://www.youtube.com/embed/n4-ZsUM8bWk?rel=0?VQ=HD720" frameborder="0" allowfullscreen></iframe>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="videoModal6" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <iframe width="100%" height="350" src="https://www.youtube.com/embed/Qd669AlC-cU?rel=0?VQ=HD720" frameborder="0" allowfullscreen></iframe>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="videoModal7" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <iframe width="100%" height="350" src="https://www.youtube.com/embed/4EKO55kpSIM?rel=0?VQ=HD720" frameborder="0" allowfullscreen></iframe>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="videoModal8" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <iframe width="100%" height="350" src="https://www.youtube.com/embed/gXXK-iSEzFc?rel=0?VQ=HD720" frameborder="0" allowfullscreen></iframe>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="videoModal9" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <iframe src="https://player.vimeo.com/video/26408117?title=0&byline=0&portrait=0" width="100%" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="videoModal10" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <iframe width="100%" height="350" src="https://www.youtube.com/embed/FP3MT5ejP_o?rel=0?VQ=HD720" frameborder="0" allowfullscreen></iframe>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="videoModal11" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <iframe width="100%" height="350" src="https://www.youtube.com/embed/VDa1Uc7WtVI?rel=0?VQ=HD720" frameborder="0" allowfullscreen></iframe>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="videoModal12" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <iframe width="100%" height="350" src="https://www.youtube.com/embed/UdKMDzJGpcI?rel=0?VQ=HD720" frameborder="0" allowfullscreen></iframe>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="videoModal13" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <iframe src="https://player.vimeo.com/video/81651249?title=0&byline=0&portrait=0" width="100%" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="videoModal14" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <iframe src="https://player.vimeo.com/video/90543169?title=0&byline=0&portrait=0" width="100%" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="videoModal15" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <iframe width="100%" height="350" src="https://www.youtube.com/embed/F4mgqpMw7Xs?rel=0?VQ=HD720" frameborder="0" allowfullscreen></iframe>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="videoModal16" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <iframe width="100%" height="350" src="https://www.youtube.com/embed/2dZSGen9cG0?rel=0?VQ=HD720" frameborder="0" allowfullscreen></iframe>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="videoModal17" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <iframe width="100%" height="350" src="https://www.youtube.com/embed/NFFdTmEoe58?rel=0?VQ=HD720" frameborder="0" allowfullscreen></iframe>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="videoModal18" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <iframe width="100%" height="350" src="https://www.youtube.com/embed/h5Od3fP1oCc?rel=0?VQ=HD720" frameborder="0" allowfullscreen></iframe>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="videoModal19" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <iframe width="100%" height="350" src="https://www.youtube.com/embed/uMZCXBiKrpU?rel=0?VQ=HD720" frameborder="0" allowfullscreen></iframe>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="videoModal20" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <iframe width="100%" height="350" src="https://www.youtube.com/embed/DPj_lNoM8vI?rel=0?VQ=HD720" frameborder="0" allowfullscreen></iframe>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="videoModal21" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <iframe width="100%" height="350" src="https://www.youtube.com/embed/P38SHbltwxY?rel=0?VQ=HD720" frameborder="0" allowfullscreen></iframe>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="videoModal22" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <iframe width="100%" height="350" src="https://www.youtube.com/embed/vCntellLLgo?rel=0?VQ=HD720" frameborder="0" allowfullscreen></iframe>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="videoModal23" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <iframe width="100%" height="350" src="https://www.youtube.com/embed/bVzppWSIFU0?VQ=HD720" frameborder="0" allowfullscreen></iframe>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="videoModal24" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <iframe width="100%" height="350" src="https://www.youtube.com/embed/PPk37EwYGSw?VQ=HD720" frameborder="0" allowfullscreen></iframe>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="videoModal25" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <iframe width="100%" height="350" src="https://www.youtube.com/embed/B86LBapoS_8?VQ=HD720" frameborder="0" allowfullscreen></iframe>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="videoModal26" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <iframe width="100%" height="350" src="https://www.youtube.com/embed/hxNZRSuuTzg?VQ=HD720" frameborder="0" allowfullscreen></iframe>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="videoModal27" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <iframe width="100%" height="350" src="https://www.youtube.com/embed/JNXxieXDmFQ?VQ=HD720" frameborder="0" allowfullscreen></iframe>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="videoModal28" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <iframe width="100%" height="350" src="https://www.youtube.com/embed/7ULZaG9O338?VQ=HD720" frameborder="0" allowfullscreen></iframe>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="videoModal29" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <iframe width="100%" height="350" src="https://www.youtube.com/embed/uXG83ma3bCQ?VQ=HD720" frameborder="0" allowfullscreen></iframe>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="videoModal30" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <iframe src="https://player.vimeo.com/video/147205302?title=0&byline=0&portrait=0" width="100%" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</body>
</html>
